<ion-view title="uupii" has-tabs="user">
    <ion-nav-bar class="bar-black">
    </ion-nav-bar>
    <ion-nav-title>
        <em>会员中心</em>
    </ion-nav-title>
    <ion-content has-bouncing="false">
        <section>
            <a class="user-header clearfix">
                <div class="user-avatar">
                    <img view-src="{{}}" src="images/default.png" err-src="images/default.png" alt="">
                </div>
                <div class="user-cell">
                    <h2>用户名</h2>
                    <p>
                        <span><i class="icon icon-error"></i>实名验证</span>
                        <span><i class="icon icon-check"></i>邮箱绑定</span>
                        <span><i class="icon icon-check"></i>手机绑定</span>
                    </p>
                </div>
            </a>
            <nav class="nav clearfix">
                <a class="nav-wrap">
            		<span>
                        <i class="icon icon-waitpay"></i>
                        <i class="circle">0</i>
                    </span>
            		<p>待付款</p>
            	</a>
                <a class="nav-wrap">
            		<span><i class="icon icon-pickup"></i><i class="circle">0</i></span>
            		<p>待发货</p>
            	</a>
                <a class="nav-wrap">
            		<span><i class="icon icon-waitpick"></i><i class="circle">0</i></span>
            		<p>待收货</p>
            	</a>
                <a class="nav-wrap">
            		<span><i class="icon icon-opinion"></i><i class="circle">0</i></span>
            		<p>待评价</p>
            	</a>
                <a class="nav-wrap">
            		<span><i class="icon icon-cancel"></i><i class="circle">0</i></span>
            		<p>已取消</p>
            	</a>
            </nav>
        </section>
        <section>
            <div class="list list-group">
                <a class="item item-icon-left" href="#">
				    <i class="icon icon-location"></i>
				    收货地址
				</a>
                <a class="item item-icon-left" href="#">
                    <i class="icon icon-msg"></i>
                    我的消息
                    <span class="badge badge-assertive">0</span>
                </a>
            </div>
        </section>
        <section>
            <div class="list list-group">
                <a class="item item-icon-left" href="#">
                    <i class="icon icon-box"></i>
                    已完成
                </a>
            </div>
        </section>
        <section>
            <div class="list list-group">
                <a class="item item-icon-left" href="#">
                    <i class="icon icon-star"></i>
                    收藏夹
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon icon-review"></i>
                    我的评价
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon icon-jxc"></i>
                    进销存
                </a>
            </div>
        </section>
    </ion-content>
</ion-view>