@charset "UTF-8";

@import "../mixin/_variable.scss";
@import "../mixin/_utilities.scss";

// global
.pane,
.view,
.modal {
    background-color: $theme-base;
}

.scroll-refresher .ionic-refresher-content {
    color: $text-base;
}

// slide banner
.slider {
    @extend %init-full-page;
    >.slider-slides {
        @extend %init-full-page;

        >.slider-slide {
            @extend %init-full-page;
            >a {
                @extend %init-full-page;
            }
        }
    }

    &.vw65 {
        width: 100vw;
        height: 65vw;
    }
    &.vw100 {
        width: 100vw;
        height: 100vw;
    }

    >.slider-pager {
        bottom: 10px;
        .slider-pager-page {
            width: 10px;
            height: 10px;
            margin: 0 4px;
            background-color: rgba(0,0,0,.8);
            border-radius: 6px;

            >i {
                display: none;
            }

            &.active {
                width: 18px;
                background-color: $theme-primary;
            }
        }
    }
}

// full screen scorll
@keyframes bounce-down {
    25% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    75% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.full-scroll {
    margin-bottom: -1px;
    .slides {
        height: calc(100vh - 44px);
        &.has-tabs {
            height: calc(100vh - 44px - 50px)
        }

        >div {
            @extend %init-full-page;
            >.bottom {
                @include block-center("h");
                bottom: 5px;

                >.next {
                    font-size: 14px;
                    line-height: 1;
                    color: #ffffff;
                    text-align: center;
                    -webkit-animation: bounce-down 5s infinite;
                    animation: bounce-down 5s infinite;
                }

                >button {
                    @extend %button;
                    margin-bottom: 15px;
                    padding: 5px 20px;
                    border: 1px solid #dddddd;
                    border-radius: 2px;
                    color: #ffffff;
                }
            }
        }
    }
}




// product params check 
.click-block {
    display: none;
}

.popover-backdrop.active {
    background-color: rgba(0, 0, 0, .6);
}

.popover-backdrop {
    @include flex();
    align-items: flex-end;

    &.hide {
        display: none;
    }
}

.popover.params-wrap {
    position: relative;
    overflow: hidden;
    top: unset;
    left: unset;
    width: 100vw;
    height: 60vh;
    margin: 0;
    border-radius: 0;
    opacity: 1;

    >.popover-arrow {
        display: none;
    }

    .bar-header {
        border-bottom: 1px solid $divider;

        >.title {
            // color: $text-base;
            text-align: left;
        }
    }

    .scroll-content {
        margin: 0;
    }

    nav {
        position: absolute;
        top: 13px;
        right: 13px;
        z-index: 10;

        a {
            color: $text-muted;
        }
    }

    form {
        b {
            // color: invert($text);
        }

        .radio {
            >label {
                >span {
                    border: 1px solid transparent;
                    // background-color: invert($bg-muted);
                    color: invert($text-muted);
                }

                >input {
                    &:checked + span {
                        border-color: $interval;
                        background-color: $body-bg;
                        // color: $text-base;
                    }
                }
            }
        }

        .rzslider {
            >.rz-bar-wrapper {
                >.rz-bar {
                    // background-color: invert($bg-info-dark);

                    &.rz-selection {
                        background-color: invert($body-bg);
                    }
                }
            }

            >.rz-bubble {
                color: invert($text-primary);

                &.rz-limit {
                    color: invert($text-info);
                }
            }

            >.rz-pointer {
                border: 1px solid $divider;
                background-color: $body-bg;
            }
        }

        .element {
            >p {
                color: $text-muted;
                text-align: right;
            }

            >i {
                color: $text-info;
            }
        }
    }
}

.popover.service-explian{
    .popover-arrow {display: none;}
    position: relative;
    overflow: visible;
    top: unset;
    left: unset;
    width: 100vw;
    height: 110vw;
    margin: 0;
    border-radius: 0;
    opacity: 1;
    transform-origin: 0px 0px 0px;
    transform: scale(1, 1);
    // 服务
    .bar-header {
        background-color: #fff;
        color: $text;
        border-bottom: 1px solid $border;
        >h2{
            font-size: 15px;
        }
    }

    .fourth-cells {
        position: relative;
        overflow: hidden;
        .icon {
            margin-top: 4px;
            color: $theme-primary;
        }
        .fourth-cell {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            position: relative;
            padding: 10px;
            & + .fourth-cell:before{
                content: " ";
                position: absolute;
                left: 0;
                top: 0;
                width: 94%;
                left: 3%;
                height: 1px;
                border-top: 1px solid #ddd;
                color: #ddd;
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
                -webkit-transform: scaleY(.5);
                transform: scaleY(.5);
            }
        }
        .cell-content {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            padding: 0 6px;
            color: $text;
            font-size: 14px;
            color: $text;
            h3 {
                margin-right: 10px;
                color: $text-base;
                font-weight: 400;
            }
            p{
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
    
    // 参数
    .header-bar {
        position: relative;
        height: 55px;
        >.pro-avatar {
            position: absolute;
            top: -30px;
            left: 15px;
            height: 75px;
            width: 70px;
            border-radius: 3px;
            border: 1px solid $border;
            background-color: #fff;
            overflow: hidden;
        }

        .pro-cell {
            font-size: 14px;
            color: $text;
            margin: 0px 15px 0px 90px; 
            
            .price {
                display: block;
                color: $text-primary;
                font-size: 22px;
                line-height: 24px;
            }
            .stock {
                font-size: 12px;
                line-height: 18px;
            }
        }

        .close {
            position: absolute;
            top: 15px;
            right: 10px;
            width: 25px;
            height: 25px;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
        }
    }

    .fourth-cover {
        position: absolute;
        left: 0px;
        bottom: 44px;
        top: 55px;
        overflow: hidden;
        width: 100%;
        .scorll {
            height: 46vh;
            border: none;
        }
        .prop {
            overflow: hidden;
            margin-top: 10px;
            padding: 0 15px;
            .prop-header {
                font-size: 13px;
                color: $text;
            }

            ul {
                display: -webkit-flex; /* Safari */
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                li{
                    position: relative;
                    overflow: hidden;
                    display: block;
                    min-width: 31%;
                    max-width: 31%;
                    padding: 5px;
                    margin-top: 10px;
                    margin-left: 10px;
                    border: 1px solid $border;
                    border-radius: 3px;
                    color: $text-base;
                    .icon-select {
                        display: none;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                    }
                    &.active {
                        color: $text-primary;
                        border: 1px solid $theme-primary;
                        .icon-select {display: block;}
                    }
                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }

                    p{
                        line-height: 18px;
                        font-size: 13px;
                        text-align: center;
                        @include lineClamp();
                    }
                }
            }

            & + .counter:before {
                content: " ";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                left: 0;
                height: 1px;
                border-top: 1px solid #ddd;
                color: #ddd;
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
                -webkit-transform: scaleY(.5);
                transform: scaleY(.5);
            }
        }
        .counter {
            display: -webkit-flex; /* Safari */
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            -webkit-box-align: center;
            align-items: center;
            position: relative;
            margin-top: 15px;
            padding: 15px;
            
            .label {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                font-size: 14px;
            }

            .count {
                display: -webkit-flex; /* Safari */
                display: flex;
                flex-wrap: wrap;
                -webkit-box-align: center;
                align-items: center;

                .btn {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    border: 1px solid $border;
                    background-color: #fff;
                    color: $text-base;
                    text-align: center;
                }
                .count-input {
                    -webkit-appearance: none;
                    width: 60px;
                    height: 30px;
                    border-top: 1px solid $border;
                    border-bottom: 1px solid $border;
                    text-align: center;
                    border-radius: 0;
                }
            }
        }

    }
}
