<tabs class="footer-tabs">
  <tab state="index" ng-class="{'active':tabsState=='index'}">
    <i class="icon-index"></i>
    <b>首页</b>
  </tab>
  <tab state="classify.index" ng-class="{'active':tabsState=='classify'}">
    <i class="icon-classify"></i>
    <b>分类</b>
  </tab>
  <tab state="news.index" ng-class="{'active':tabsState=='news'}">
    <i class="icon-explort"></i>
    <b>资讯</b>
  </tab>
  <tab state="orders.index" ng-class="{'active':tabsState=='orders'}">
    <i class="icon-order"></i>
    <b>进货单</b>
  </tab>
  <tab state="user.index" ng-class="{'active':tabsState=='user'}">
    <i class="icon-user"></i>
    <b>我的</b>
  </tab>
</tabs>