<ion-view title="uupii">
    <ion-nav-bar class="bar-back">
        <ion-nav-buttons side="left">
            <button class="button back" ng-click="$ionicGoBack()">
                <i class="icon-back"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
	        <button class="button">
	            <i class="icon-star-empty"></i>
	            <span class="point" ng-if="hasUnread"></span>
	        </button>
	    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-title>
        <em ng-bind="detail[0].name">详情</em>
    </ion-nav-title>
    
    <ion-content has-bouncing="false">
        <ion-refresher pulling-text="下拉刷新" on-refresh="refresh()">
        </ion-refresher>
        <!--幻灯片轮播-->
        <ion-slide-box class="vw65" on-slide-changed="slideHasChanged($index)" delegate-handle="carousel" does-continue="true" auto-play="true" slide-interval="4000" show-pager="{{detail.length>=1}}">
            <ion-slide ng-if="!detail.length>0">
                <a>
                    <img src="images/default.png" err-src="images/default.png" />
                </a>
            </ion-slide>
            <ion-slide ng-repeat="item in detail[0].photo track by $index">
                <a>
                    <img view-src="{{item}}" src="images/default.png" err-src="images/default.png" alt="{{item.title}}"/>
                </a>
            </ion-slide>
        </ion-slide-box>
        <section>
            <header class="header clearfix">
                <h2 class=""><em ng-bind="detail[0].name">产品</em></h2>
                <money class="price" ng-bind="detail[0].priceOriginal | currency : '￥'">￥0</money>
                <p class="number"><span>最低起订量：<em ng-bind="detail[0].minBuy">1</em></span><span>总供货量：<em ng-bind="parameter[0].storage">1</em></span></p>
            </header>
            
        </section>
        <!-- 选择购买类型 -->
        <section>
            <header class="header" ng-click="view_param()"><span class="label">已选：</span><em>请选择</em><div class="more" ng-click=""><em>.</em><em>.</em><em>.</em></div></div></header>
        </section>
        <!-- 选择地址 -->
        <section>
            <header class="header"><span class="label">送至：</span><em>请选择</em><div class="more" ng-click=""><em>.</em><em>.</em><em>.</em></div></div></header>
            <div class="service" ng-click="view_explain()"><span ng-if="brand[0].IsFreight"><i class="icon-checked-hollow"></i>支持包邮</span><span><i class="icon-checked-hollow"></i>交易保障</span><span ng-if="brand[0].IsVipBuy"><i class="icon-checked-hollow"></i>会员购买</span><div class="more"><em>.</em><em>.</em><em>.</em></div></div>
        </section>
        <section>
            <header class="header text-center"><h2><em ng-bind="brand[0].nick">旗舰店</em></h2></header>
            <div class="shop-welcome text-center">
                <em ng-bind="brand[0].nick"></em>欢迎您
            </div>
            <div class="shop-entry clearfix">
                <a><i class="icon-star-empty"></i>收藏店铺</a>
                <a ui-sref="product.store({id:brand[0].ProvAgentId})"><i class="icon-seller"></i>进入店铺</a>
            </div>
        </section>
        <section></section>
    </ion-content>
    <ion-footer-bar class="bar-button">
        <button type="button">加入进货单</button>
        <button type="button">立即购买</button>
    </ion-footer-bar>
    <!-- parameter modal -->
    <script id="parameter.html" type="text/ng-template">
        <ion-popover-view class="service-explian">
            <form name="ajaxForm" ng-submit="submitForm()">
                <ion-header-bar class="header-bar">
                    <div class="pro-avatar"><img view-src="{{detail[0].Pic.split(',')[0]}}" src="images/default.png" err-src="images/default.png" alt="{{detail[0].title}}"/>
                    </div>
                    <div class="pro-cell">
                        <h2 class="price" ng-bind="detail[0].priceOriginal | currency : '￥'">
                            ￥0
                        </h2>
                        <p class="stock">库存<span ng-bind="parameter[0].storage">0</span><span ng-bind="detail[0].unit"></span></p>
                    </div>
                    <div class="close" ng-click="close_param()"><i class="icon-del"></i></div>
                </ion-header-bar>
                <ion-content has-bouncing="false">
                    <div class="fourth-cover">
                        <div class="prop">
                            <header class="prop-header">
                                <span>批价</span>
                            </header>
                            <ul class="clearfix">
                                <li class="active">
                                    <p><span ng-bind="'≥'+detail[0].priceScopeTitle1">0</span><span ng-bind="detail[0].unit"></span></p>
                                    <p ng-bind="detail[0].price1 | currency : '￥'">￥0</p>
                                    <i class="icon-select"></i>
                                </li>
                                <li>
                                    <p><span ng-bind="'≥'+detail[0].priceScopeTitle2">0</span><span ng-bind="detail[0].unit"></span></p>
                                    <p ng-bind="detail[0].price2 | currency : '￥'">￥0</p>
                                    <i class="icon-select"></i>
                                </li>
                                <li>
                                    <p><span ng-bind="'≥'+detail[0].priceScopeTitle3">0</span><span ng-bind="detail[0].unit"></span></p>
                                    <p ng-bind="detail[0].price3 | currency : '￥'">￥0</p>
                                </li>
                            </ul>
                        </div>
                        <div class="prop">
                            <header class="prop-header">
                                <span ng-bind="detail[0].paramTitle1"></span>
                            </header>
                            <ul class="clearfix">
                                <li>
                                    <p><span ng-bind="">默认</span></p>
                                    <i class="icon-select"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="prop">
                            <header class="prop-header">
                                <span ng-bind="detail[0].paramTitle2"></span>
                            </header>
                            <ul class="clearfix">
                                <li>
                                    <p><span ng-bind="">默认</span></p>
                                    <i class="icon-select"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="counter">
                            <p class="label">数量：</p>
                            <div class="count">
                                <i class="btn">-</i>
                                <input type="text" value="4" class="count-input" />
                                <i class="btn">+</i>
                            </div>
                        </div>
                    </div>
                </ion-content>
                <ion-footer-bar class="bar-button">
                    <button type="button">加入进货单</button>
                    <button type="button">立即购买</button>
                </ion-footer-bar>
            </form>
        </ion-popover-view>
    </script>
    <!-- service modal -->
    <script id="service.html" type="text/ng-template">
        <ion-popover-view class="service-explian">
            <ion-header-bar>
                <h2 class="title">服务声明</h2>
            </ion-header-bar>
            <ion-content has-bouncing="false">
            <div class="fourth-cells">
                <div class="fourth-cell">
                    <i class="icon icon-checked-hollow"></i>
                    <div class="cell-content">
                        <h3>支持包邮</h3>
                        <p>满<em ng-bind="brand[0].Freight"></em>免运费（物流费用以实际交易情况为准）</p>
                    </div>
                </div>
                <div class="fourth-cell">
                    <i class="icon icon-checked-hollow"></i>
                    <div class="cell-content">
                        <h3>极速发货</h3>
                        <p>24小时发货</p>
                    </div>
                </div>
                <div class="fourth-cell">
                    <i class="icon icon-checked-hollow"></i>
                    <div class="cell-content">
                        <h3>交易保障</h3>
                        <p>自实际收货日期的次日起15天内，商品完好，可进行无理由退货</p>
                    </div>
                </div>
                <div class="fourth-cell">
                    <i class="icon icon-checked-hollow"></i>
                    <div class="cell-content">
                        <h3>会员购买</h3>
                        <p>需申请成为其该店铺的会员，商品才能购买</p>
                    </div>
                </div>
                <div class="fourth-cell">
                    <i class="icon icon-checked-hollow"></i>
                    <div class="cell-content">
                        <h3>自提</h3>
                        <p>自提免运费，支持门店自提点、自助提货柜等自助服务</p>
                    </div>
                </div>
            </div>
            </ion-content>
            <ion-footer-bar class="bar-button">
                <button type="button" ng-click="close_explain()">确定</button>
            </ion-footer-bar>
        </ion-popover-view>
    </script>
</ion-view>