<ion-view title="uupii">
    <ion-nav-bar class="bar-back">
        <ion-nav-buttons side="left">
            <button class="button back" ng-click="$ionicGoBack()">
                <i class="icon-back"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-title>
        <em ng-bind="store[0].nick">店铺详情</em>
    </ion-nav-title>
    <ion-content has-bouncing="false">
        <ion-refresher pulling-text="下拉刷新" on-refresh="refresh()">
        </ion-refresher>
        <!-- 品牌商主要信息 -->
        <section>
            <div class="store">
                <img src="/images/store_bg.png">
                <div class="store-box">
                    <div class="store-cover">
                        <img view-src="{{store[0].logo}}" alt="" src="/images/default.png" err-src="/images/default.png">
                        <h1><em ng-bind="store[0].nick">旗舰店</em></h1>
                        <p>所在地区：<span ng-bind="store[0].prov+store[0].city">广东省深圳市</span></p>
                    </div>
                </div>
            </div>
            <div class="button-bar">
                <button type="button" ng-click="like_action(store[0].ProvAgentId)" ng-class="{'active': input.like == true}"><i class="icon-star-empty" ng-class="{'icon-star': input.like == true}"></i><em ng-if="input.like == false">收藏店铺</em><em ng-if="input.like == true">收藏成功</em></button>
                <button type="button" ng-click="apply_action(store)" ng-class="{'active': store[0].IsVip == 1}"><i class="icon-member" ng-class="{'icon-star': store[0].IsVip == 1}"></i><em ng-if="store[0].IsVip == -2">申请会员</em><em ng-if="store[0].IsVip == 0">正审核中</em><em ng-if="store[0].IsVip == 1">本店会员</em></button>
            </div>
        </section>
        <!-- 品牌商商品列表 -->
        <section class="transparent">
            <ion-list class="pro-list" delegate-handle="proScroll" ng-if="pros.data.length>1">
                <ion-item ui-sref="product.detail({id:item.id})" class="pro-item" ng-repeat="item in pros.data" repeat-done="proFinish()">
                    <div class="pro-cover">
                        <img view-src="{{item.Pic.split(',')[0]}}" src="images/default.png" err-src="images/default.png" />
                    </div>
                    <div class="pro-cell">
                        <h3 class="" ng-bind="item.name"></h3>
                        <p><span ng-bind="item.Scope3 | currency : '￥'">￥0</span> - <span ng-bind="item.Scope1 | currency : '￥'">￥0</span></p>
                    </div>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll on-infinite="loadMore()" ng-if="pros.loaded">
            </ion-infinite-scroll>
            <div class="paging" ng-class="{show:!pros.loaded}" ng-bind="pros.tips"></div>
        </section>
    </ion-content>
</ion-view>