<ion-view title="uupii">
    <ion-nav-bar class="bar-back">
        <ion-nav-buttons side="left">
            <button class="button back" ng-click="$ionicGoBack()">
                <i class="icon-back"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
	        <button class="button">
	            <i class="icon-star-empty"></i>
	            <span class="point" ng-if="hasUnread"></span>
	        </button>
	    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-title>
        <em ng-bind="detail[0].name">详情</em>
    </ion-nav-title>
    
    <ion-content has-bouncing="false">
        <!--幻灯片轮播-->
        <ion-slide-box class="vw65" on-slide-changed="slideHasChanged($index)" delegate-handle="carousel" does-continue="true" auto-play="true" slide-interval="4000" show-pager="{{detail.length>=1}}">
            <ion-slide ng-if="!detail.length>0">
                <a>
                    <img src="images/default.png" err-src="images/default.png" />
                </a>
            </ion-slide>
            <ion-slide ng-repeat="item in detail[0].photo track by $index">
                <a>
                    <img view-src="{{item}}" src="images/default.png" err-src="images/default.png" alt="{{item.title}}"/>
                </a>
            </ion-slide>
        </ion-slide-box>
        <section>
            <header class="header clearfix">
                <h2 class=""><em ng-bind="detail[0].name">产品</em></h2>
                <money class="price" ng-bind="detail[0].priceOriginal | currency : '￥'">￥0</money>
                <p class="number"><span>最低起订量：<em ng-bind="detail[0].minBuy">1</em></span><span>总供货量：<em ng-bind="parameter[0].storage">1</em></span></p>
            </header>
            <div class="service"><span><i class="icon-checked-hollow"></i>支持包邮</span><span><i class="icon-checked-hollow"></i>交易保障</span><span><i class="icon-checked-hollow"></i>会员购买</span></div>
        </section>
        <section>
            <header class="header text-center"><h2><em ng-bind="brand[0].nick">产品</em></h2></header>
            <div class="shop-service">
            </div>
            <div class="wrap shop-entry clearfix">
                <a><i class="icon-star-empty"></i>收藏店铺</a>
                <a><i class="icon-seller"></i>进入店铺</a>
            </div>
        </section>
        <section></section>
    </ion-content>
    <ion-footer-bar class="bar-button">
        <button type="button">加入进货单</button>
        <button type="button">立即购买</button>
    </ion-footer-bar>
</ion-view>